
.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}
.main{
  height: 100vh;
}
.displayCard {
  width: 70%;
  background-color: cadetblue
 }
 @media screen and (min-width: 1000px) {
  .displayCard {
    width: 50%;
    background-color: cadetblue
   }
   
 
}